@import "../../mixin";

.pc_header {
    position: absolute;
    z-index: 10;
    margin-top: 20px;
    margin-left: 20px;
    @include mobile {
        display: none;
    }
}

.sp_header {
    display: none;
    @include mobile {
        display: flex;
        flex-direction: column;
    }
}

.pc {
    display: flex;
    list-style: none;

    li {
        margin-left: 1em;

        a {
            text-decoration: none;
            color: white;
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 11;
    top: 40px;

    .menu_content {
        width: 85%;
        border: 2px solid gray;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 10px;

        .urls {
            color: gray;
            display: flex;
            justify-content: center;
            margin: auto;
        }
    }
}

.sp {
    list-style: none;

    li {
        a {
            text-decoration: none;
            color: gray;
        }
    }
}

.menu_icon {
    margin: 15px;
    font-size: 2em;
    float: right;
}

.link_icon {
    font-size: 2em;
    margin: 10px;
    color: gray;
}
